.img_component,
.video_component {
  margin: 20px 0;
  border-radius: var(--border-radius-medium) !important;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
  margin: 0 0 var(--ifm-paragraph-margin-bottom);
  width: 100%;
}

.video_container {
  border-radius: var(--border-radius-medium) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
